html
{
    font-family: sans-serif;
}

.topmenu li
{
    display: inline-block;
}

.topmenu a
{
    display: block; /* ссылка растягивается на весь пункт li */

    padding: 5px 10px; /* задаем внутренние отступы */

    color: #fff; /* цвет текста */

    text-decoration: none; /* убрать нижнее подчёркивание у ссылок */

    font-size: 20px;



}

.topmenu a:hover
{

    background: #8AB8CC; /* фон пунктов при наведении */

}

.langmenu
{
    float: right;
    top: 0;
    text-decoration: none;
}
.langmenu a
{
    margin: 0;
    padding: 5px;
}

.mainHead
{
    margin-left: 10vw; /* убрать внутренние отступы */
    margin-right: 10vw;
    min-width: 670px;
}

header
{
    position: fixed;

    padding: 0; /* убрать внешние отступы */
    top: 0; left: 0;
    width: 100%;

    background:  #03658e;  ;
}

body
{

    margin: 80px;

    margin-left: 10vw; /* убрать внутренние отступы */
    margin-right: 10vw;
    min-width: 670px;
}