

.mainPart
{
    z-index: 0;
    top: 100px;
    /* min-width: 670px; */
    margin-left: 22vw;
    margin-right: 20vw;
    min-width: 470px;
    position: absolute;
    display: block;
    color:midnightblue; /* цвет текста */
    font-size:larger;
}

.price
{
    color:seagreen;
    float: right;
}

.description
{
    display: block;
    text-align: justify;
    font-size: medium;
}